<a href="https://colab.research.google.com/github/Ghaidaa66/allMasar/blob/main/GH_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns  #تفاصيل + import
datasets = sns.get_dataset_names()
print("Available datasets in Seaborn:")
print(datasets)
len(datasets)

In [ ]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset('iris')
print("First few rows of the Iris dataset:")
display(iris.head())
iris.to_csv('gh_iris_masar.csv')

In [ ]:
df = pd.read_csv('/content/data.HPM.csv')
df
df.head()

In [ ]:
df = df['Price']
df

In [ ]:
import pandas as pd

csv_file_path = '/content/data.HPM.csv'
df = pd.read_csv(csv_file_path)

print("First few rows of the data.HPM dataset:")
display(df.head())

In [ ]:
df.head()

In [ ]:
df.columns

In [49]:
df.rename(columns={'Price':'Pprice'}, inplace=True) #تغيير الإسم كبتل وسمول

In [51]:
df.isnull()
d = 'Y'
dd= ' Y'
ddd= '  Y'
d_1 = ''

In [ ]:
df.isnull().sum() #

In [56]:
df['Pprice'] = df['Pprice'].fillna(df['Pprice'].mean()) #استبدال البيانات المفقودة إن وجدت بالقيمة المختارة

In [59]:
df_new = df.dropna()
#df

In [ ]:
df.info()

In [ ]:
df_new.info()

In [137]:
df_new['Pprice'].unique()

array([ 6300000.,  9000000., 11090000., ...,  5884024.,  5768869.,
        6839157.])

In [ ]:
df_new['Pprice'] = df_new['Pprice'].str.replace('6300000 ', '6300000')
df_new['Pprice'] = df_new['Pprice'].str.replace('9000000 ', '9000000')

df_new['Pprice'].dtype

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
sns.boxplot(data=df_new
            , orient='v', palette='Set2')

plt.xlabel('Columns')
plt.ylabel('Values')
plt.title('Boxplot for Each Column')

plt.show()

In [ ]:
numeric_columns = df_new.select_dtypes(include='number').columns
fig, axes = plt.subplots(nrows=len(numeric_columns), ncols=1, figsize=(8, 111))

for i, column in enumerate(numeric_columns):
    sns.boxplot(y=df_new[column], ax=axes[i])
    axes[i].set_title(column)

plt.tight_layout()

plt.show()

In [ ]:
df_new['Pprice'].max() #الأعلى من القائمة المحددة
#df_new.describe() #

In [142]:
df_new.dtypes
df_new['Pprice'].head()
df_new['Pprice'] = pd.to_numeric(df_new['Pprice'])
df_new[df_new.Pprice >= 7150000.0]

,Pprice,Apartment type,Metro station,Minutes to metro,Region,Number of rooms,Area,Living area,Kitchen area,Floor,Number of floors,Renovation
1,9000000.0,Secondary,Павшино,2.0,Moscow region,1.0,49.20,20.0,10.0,6.0,15,European-style renovation
2,11090000.0,Secondary,Мякинино,14.0,Moscow region,1.0,44.70,16.2,13.1,10.0,25,Cosmetic
3,8300000.0,Secondary,Строгино,8.0,Moscow region,1.0,35.10,16.0,11.0,12.0,33,European-style renovation
5,7150000.0,Secondary,Опалиха,6.0,Moscow region,1.0,38.40,18.0,8.0,8.0,18,European-style renovation
6,7400000.0,Secondary,Нахабино,11.0,Moscow region,1.0,33.00,16.0,8.0,7.0,7,European-style renovation
...,...,...,...,...,...,...,...,...,...,...,...,...
22644,13739550.0,New building,Аннино,7.0,Moscow,2.0,75.70,40.4,12.9,5.0,22,Cosmetic
22645,8000000.0,New building,Царицыно,7.0,Moscow,1.0,40.20,18.3,9.2,15.0,13,Cosmetic
22646,12000000.0,New building,Люблино,17.0,Moscow,1.0,43.90,15.1,13.3,21.0,13,Cosmetic
22649,9902265.0,New building,Красногвардейская,16.0,Moscow region,4.0,86.46,50.4,5.9,16.0,20,Cosmetic
22666,8359176.0,New building,Домодедовская,8.0,Moscow region,2.0,56.42,27.4,14.0,1.0,15,Cosmetic

In [ ]:
df.duplicated()

In [144]:
#df.to_csv('GHAIDAA_clean_dia.csv')

In [ ]:
df

In [132]:
del df['Metro station']

In [ ]:
df.head()

In [177]:
import sklearn.preprocessing

columns_to_normalize = ['Pprice', 'Number of rooms', 'Area', 'Living area', 'Kitchen area', 'Floor', 'Number of floors']
scaler = sklearn.preprocessing.StandardScaler()
#df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

In [ ]:
df

In [174]:
df['Region'] = df['Region'].replace({'Moscow region': 0, 'Moscow': 1})

In [ ]:
df.head()

In [181]:
df_2 = df

In [ ]:
import pandas as pd

data = {'Number of rooms': [1.0, 2.0, 4.0],
        'Floor': [6.0, 7.0, 8.0, 10.0, 12.0]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df['Number of floors'] = df['Number of rooms'] / (df['Floor'] ** 2)

print("\nDataFrame with Number of floors:")
print(df)

In [ ]:
print(data)
for key, value in data.items():
    print(f"{key}: {len(value)}")

data = {'Number of rooms': [1.0, 2.0, 4.0],
        'Floor': [6.0, 7.0, 8.0]}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df['Number of floors'] = df['Number of rooms'] / (df['Floor'] ** 2)

print("\nDataFrame with Number of floors:")
print(df)