<a href="https://colab.research.google.com/github/Ghaidaa66/allMasar/blob/main/gh_Coding_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Loop:
Question:
Write a Python program that uses a 'for' loop to print all even numbers from 1 to 10. Then, use 'while' loop.

In [49]:
# Using 'for' loop
print("Using 'for' loop:")
for i in range(2, 11, 2):
    print(i)


# Using 'while' loop
print("\nUsing 'while' loop:")
num = 2
while num <= 10:
    print(num)
    num += 2

Using 'for' loop:
2
4
6
8
10

Using 'while' loop:
2
4
6
8
10

2. Control Flows:
Question:
Create a Python function named grade_classifier that takes a student's score as an argument and returns a string indicating their grade. Use the following criteria:

Score >= 90: "A"
80 <= Score < 90: "B"
70 <= Score < 80: "C"
60 <= Score < 70: "D"
Score < 60: "F"

In [50]:
def grade_classifier(score):
    if score >= 90:
        return "A"
    elif 80 <= score < 90:
        return "B"
    elif 70 <= score < 80:
        return "C"
    elif 60 <= score < 70:
        return "D"
    else:
        return "F"

# Example usage:
student_score = float(input("Enter the student's score: "))
grade = grade_classifier(student_score)
print(f"Student's score: {student_score}, Grade: {grade}")

Enter the student's score: 88
Student's score: 88.0, Grade: B

3. If Conditions:
Question:
Write a Python program that prompts the user to enter their age. Use if-elif-else statements to categorize and print the user's age group as follows:

If the age is less than 13, print "Child."
If the age is between 13 and 19 (inclusive), print "Teenager."
If the age is between 20 and 59 (inclusive), print "Adult."
If the age is 60 or older, print "Senior Citizen."

In [54]:
# Prompt user to enter age
user_age = int(input("Enter your age: "))

# Categorize and print age group
if user_age < 13:
    print("Child")
elif 13 <= user_age <= 19:
    print("Teenager")
elif 20 <= user_age <= 59:
    print("Adult")
else:
    print("Senior Citizen")

Enter your age: 88
Senior Citizen

4. Functions:
Question:
Define a Python function named multiply_numbers that takes two parameters (num1 and num2) and returns their product. Test the function with values 5 and 7.

In [52]:
def multiply_numbers(num1, num2):
    return num1 * num2

# Test the function with values 5 and 7
result = multiply_numbers(5, 7)

# Print the result
print(f"The product of 5 and 7 is: {result}")

The product of 5 and 7 is: 35

5.
Write a Python program that does the following:

Prompts the user to enter a number (user_num).
Uses a loop to print all numbers from 1 to user_num (inclusive) that are divisible by 3.

In [53]:
# Prompt user to enter a number
user_num = int(input("Enter a number: "))

# Use a loop to print numbers divisible by 3
print(f"Numbers from 1 to {user_num} divisible by 3:")
for i in range(1, user_num + 1):
    if i % 3 == 0:
        print(i)

Enter a number: 99
Numbers from 1 to 99 divisible by 3:
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

Wish you all the best,

Abdul